@model IEnumerable<SysTracker.Models.Link>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Server)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.System)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServerType)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Server.Name, "Details", "Servers", new { id = item.ServerID }, null)
        </td>
        <td>
            @Html.ActionLink(item.System.Name, "Details", "Systems", new { id = item.SystemsID }, null)
        </td>
        <td>
            @Html.ActionLink(item.ServerType.Name, "Details", "ServerTypes", new { id = item.ServerTypeID }, null)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { serverID=item.ServerID, systemID = item.SystemsID, serverTypeID = item.ServerTypeID }) |
            @Html.ActionLink("Delete", "Delete", new { serverID = item.ServerID, systemID = item.SystemsID, serverTypeID = item.ServerTypeID })
        </td>
    </tr>
}

</table>
